In [1]:
import pandas as pd
import requests

# Kernel

## Simulator Statevector

In [2]:
k_simu = "simulator_statevector/"

In [3]:
k_name = "kernels-2-ideal.csv"
df = pd.read_feather("../resources/kernel_metadata/" + k_simu + k_name)
print("Kernel : {} ; Qcomputer : {}".format(k_name, k_simu))
df

Kernel : kernels-2-ideal.csv ; Qcomputer : simulator_statevector/

       width  layers  shots  seed_x  seed_y      fidelity
0          4       1   1024       0       0  6.283185e+00
1          4       1   1024       1       0  7.112926e-01
2          4       1   1024       1       1  6.283185e+00
3          4       1   1024       2       0  3.761182e-01
4          4       1   1024       2       1  5.903415e+00
...      ...     ...    ...     ...     ...           ...
20296      4       1   1024     200     196  1.074703e-01
20297      4       1   1024     200     197  1.660592e-01
20298      4       1   1024     200     198  3.014041e-01
20299      4       1   1024     200     199  1.136844e-02
20300      4       1   1024     200     200  1.026956e-15

[20301 rows x 6 columns]

In [4]:
k_name = "kernels-5-ideal.csv"
df = pd.read_feather("../resources/kernel_metadata/" + k_simu + k_name)
print("Kernel : {} ; Qcomputer : {}".format(k_name, k_simu))
df

Kernel : kernels-5-ideal.csv ; Qcomputer : simulator_statevector/

                 job_id  seed_x  seed_y  fidelity
0  c9hdiaf66a5i0vr3c8gg       0       0  0.085490
1  c9hdiaf66a5i0vr3c8gg       1       0  1.140837
2  c9hdiaf66a5i0vr3c8gg       1       1  6.168785

In [5]:
k_name = "kernels-10-ideal.csv"
df = pd.read_feather("../resources/kernel_metadata/" + k_simu + k_name)
print("Kernel : {} ; Qcomputer : {}".format(k_name, k_simu))
df

Kernel : kernels-10-ideal.csv ; Qcomputer : simulator_statevector/

      width  layers  shots  seed_x  seed_y      fidelity
0         4       1   1024       0       0  0.000000e+00
1         4       1   1024       1       0  9.797174e-16
2         4       1   1024       1       1  0.000000e+00
3         4       1   1024       2       0  9.797174e-16
4         4       1   1024       2       1  0.000000e+00
...     ...     ...    ...     ...     ...           ...
1321      4       1   1024      50      46  0.000000e+00
1322      4       1   1024      50      47  4.898587e-16
1323      4       1   1024      50      48  4.898587e-16
1324      4       1   1024      50      49  4.898587e-16
1325      4       1   1024      50      50  0.000000e+00

[1326 rows x 6 columns]

In [6]:
k_name = "kernels-18-ideal.csv"
df = pd.read_feather("../resources/kernel_metadata/" + k_simu + k_name)
print("Kernel : {} ; Qcomputer : {}".format(k_name, k_simu))
df

Kernel : kernels-18-ideal.csv ; Qcomputer : simulator_statevector/

      width  layers  shots  seed_x  seed_y  fidelity
0         4       2   1024       0       0  5.320888
1         4       2   1024       1       0  5.165292
2         4       2   1024       1       1  5.595188
3         4       2   1024       2       0  5.531208
4         4       2   1024       2       1  5.961104
...     ...     ...    ...     ...     ...       ...
5146      4       2   1024     100      96  5.495773
5147      4       2   1024     100      97  5.333643
5148      4       2   1024     100      98  5.148110
5149      4       2   1024     100      99  5.401507
5150      4       2   1024     100     100  5.387360

[5151 rows x 6 columns]

## Ibmq Qasm Simulator

In [7]:
k_simu = "ibmq_qasm_simulator/"

In [8]:
k_name = "kernels-2-ideal.csv"
df = pd.read_feather("../resources/kernel_metadata/" + k_simu + k_name)
print("Kernel : {} ; Qcomputer : {}".format(k_name, k_simu))
df

Kernel : kernels-2-ideal.csv ; Qcomputer : ibmq_qasm_simulator/

                     job_id  seed_x  seed_y  fidelity
0      cab5ajtmoms9e8h3jlk0       0       0  1.000000
1      cab5ajtmoms9e8h3jlk0       1       0  0.888672
2      cab5ajtmoms9e8h3jlk0       1       1  1.000000
3      cab5ajtmoms9e8h3jlk0       2       0  0.873047
4      cab5ajtmoms9e8h3jlk0       2       1  0.798828
...                     ...     ...     ...       ...
20296  cab5ajtmoms9e8h3jlk0     200     196  0.872070
20297  cab5ajtmoms9e8h3jlk0     200     197  0.860352
20298  cab5ajtmoms9e8h3jlk0     200     198  0.807617
20299  cab5ajtmoms9e8h3jlk0     200     199  0.786133
20300  cab5ajtmoms9e8h3jlk0     200     200  1.000000

[20301 rows x 4 columns]

In [9]:
k_name = "kernels-5-ideal.csv"
df = pd.read_feather("../resources/kernel_metadata/" + k_simu + k_name)
print("Kernel : {} ; Qcomputer : {}".format(k_name, k_simu))
df

Kernel : kernels-5-ideal.csv ; Qcomputer : ibmq_qasm_simulator/

                    job_id  seed_x  seed_y  fidelity
0     c9t89t12u19tlvrlfh00       0       0  1.000000
1     c9t89t12u19tlvrlfh00       1       0  0.147461
2     c9t89t12u19tlvrlfh00       1       1  1.000000
3     c9t89t12u19tlvrlfh00       2       0  0.100586
4     c9t89t12u19tlvrlfh00       2       1  0.094727
...                    ...     ...     ...       ...
1321  c9t89t12u19tlvrlfh00      50      46  0.205078
1322  c9t89t12u19tlvrlfh00      50      47  0.213867
1323  c9t89t12u19tlvrlfh00      50      48  0.133789
1324  c9t89t12u19tlvrlfh00      50      49  0.167969
1325  c9t89t12u19tlvrlfh00      50      50  1.000000

[1326 rows x 4 columns]

In [10]:
k_name = "kernels-10-ideal.csv"
df = pd.read_feather("../resources/kernel_metadata/" + k_simu + k_name)
print("Kernel : {} ; Qcomputer : {}".format(k_name, k_simu))
df

Kernel : kernels-10-ideal.csv ; Qcomputer : ibmq_qasm_simulator/

,job_id,seed_x,seed_y,fidelity
0,"['cc74v4ngkoe40ibpbmt0', 'cc75ov2vb7prqi8l3d20...",0,0,1.000000
1,"['cc74v4ngkoe40ibpbmt0', 'cc75ov2vb7prqi8l3d20...",1,0,0.683594
2,"['cc74v4ngkoe40ibpbmt0', 'cc75ov2vb7prqi8l3d20...",1,1,1.000000
3,"['cc74v4ngkoe40ibpbmt0', 'cc75ov2vb7prqi8l3d20...",2,0,0.868164
4,"['cc74v4ngkoe40ibpbmt0', 'cc75ov2vb7prqi8l3d20...",2,1,0.817383
...,...,...,...,...
125746,"['cc74v4ngkoe40ibpbmt0', 'cc75ov2vb7prqi8l3d20...",500,496,0.708008
125747,"['cc74v4ngkoe40ibpbmt0', 'cc75ov2vb7prqi8l3d20...",500,497,0.561523
125748,"['cc74v4ngkoe40ibpbmt0', 'cc75ov2vb7prqi8l3d20...",500,498,0.846680
125749,"['cc74v4ngkoe40ibpbmt0', 'cc75ov2vb7prqi8l3d20...",500,499,0.684570
125750,"['cc74v4ngkoe40ibpbmt0', 'cc75ov2vb7prqi8l3d20...",500,500,1.000000

In [11]:
k_name = "kernels-18-ideal.csv"
df = pd.read_feather("../resources/kernel_metadata/" + k_simu + k_name)
print("Kernel : {} ; Qcomputer : {}".format(k_name, k_simu))
df

Kernel : kernels-18-ideal.csv ; Qcomputer : ibmq_qasm_simulator/

                    job_id  seed_x  seed_y  fidelity
0     c9hfqrb00uf4rqa0euo0       0       0  1.000000
1     c9hfqrb00uf4rqa0euo0       1       0  0.322266
2     c9hfqrb00uf4rqa0euo0       1       1  1.000000
3     c9hfqrb00uf4rqa0euo0       2       0  0.495117
4     c9hfqrb00uf4rqa0euo0       2       1  0.542969
...                    ...     ...     ...       ...
5146  c9hfqrb00uf4rqa0euo0     100      96  0.474609
5147  c9hfqrb00uf4rqa0euo0     100      97  0.717773
5148  c9hfqrb00uf4rqa0euo0     100      98  0.694336
5149  c9hfqrb00uf4rqa0euo0     100      99  0.357422
5150  c9hfqrb00uf4rqa0euo0     100     100  1.000000

[5151 rows x 4 columns]